body {
    background-color: #5d5d5d;
}

#frameCalc {
    position: relative;
    width: 460px;
    height: 400px;
    background-color: #232323;
    border-radius: 20px;
    box-shadow: inset 1px 1px 4px #797979;
}

#disp {
    position: relative;
    margin: 20px 20px;
    box-sizing: border-box;
    width: 420px;
    height: 80px;
    background-color: #dbff65;
    border-radius: 10px;
    box-shadow: inset 0 0 20px #2d4212;
    text-align: right;
    padding: 0 0.5em;
    font-size: 3.5em;
    font-weight: bold;
    color: #0e5d00;
    font-family: monospace;
}

#disp:focus {
    outline: none;
}

#form {
    position: absolute;
    z-index: 2;
    top: 27px;
    left: 30px;
    width: 380px;
    font-size: 1em;
    font-weight: bold;
    color: #0e5d00;
    font-family: monospace;
    text-align: right;
}

#keyPad {
    text-align: center;
    padding: 15px 0px;
    position: relative;
    box-sizing: border-box;
    margin: 0 20px;
    width: 420px;
    height: 260px;
    border: white 2px inset;
    border-radius: 10px;
}

.keys {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 5px 0 2px;
    width: 70px;
    height: 50px;
    background-color: #515B5D;
    box-shadow: inset 1px 1px 3px #8e8e8e;
    border-radius: 10px;
    line-height: 50px;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
    font-family: monospace;
    color: white;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.keys:hover {
    box-shadow: inset 0 0 20px #8e8e8e;
}

.key-gray {
    background-color: #37393F;
}

.key-red {
    background-color: #D67303;
    box-shadow: inset 1px 1px 3px #c0c0c0;
}

.key-red:hover {
    box-shadow: inset 0 0 20px #c0c0c0;
}

.key-blue {
    background-color: #395777;
}
